# {{version}}
{{tagline}}
## Common Changes
None

## Bedrock Server
### Version
```
{{bedrock_version}}
```
### Changes
{{{bedrock_changes}}}

## Java Server
### Version
```
{{java_version}}
```
### Changes
{{{java_changes}}}

## Comments
None